*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    padding:20px;
    background-color: teal;
    text-transform: capitalize;
}
div.myform{
 background-color: steelblue;
 padding: 20px;
 border-radius: 5px; 
 width:fit-content;  
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
}
div.myform div.input_field label{
    display: block;
    font-weight:550;
}
div.myform div.input_field input{
  width:100%;
  border: 2px solid black;
  padding:5px 8px;
  outline: none;
  margin-bottom: 20px;
 margin-top: 3px;
}
div.myform div.submit-btn{
    text-align: center;
}
div.myform div.submit-btn input[type="submit"]{
    padding: 5px 12px;
    font-weight:550;
    background-color: #f0f0f0;
    border: 2px solid black;
    margin-top: 10px;
}
